$globalColor: #D09324;
.collection{
    margin-top: 100px;
    padding: 50px;
}
.page-items{
    position: relative;
    & h2{
        font-size: 30px;
        font-weight: bold;
    }
    & p{
        padding-top: 10px;
        padding-bottom: 40px;
    }
}
.product{
    position: absolute;
    top: 0;
    width: 150px;
    height: 40px;
    background-color:black;
    color: white;
    text-align: center;
    border-radius:30px;
    right:30px
}
.options{
    margin-left: 30px;
    & p{
        padding: 5px;
        font-size:15px;
        color:gray;
        &:hover{
            color:$globalColor;
        }
    }
}
.search-item{
    width: 90%;
    height: 40px;
    background-color:#E2E2E2;
    border-radius:30px;
    padding: 15px 5px;
    margin-bottom: 20px;
    display: flex;
    & input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 10px;
        transform: translateY(-30%);
        background-color: transparent;
    }
}
.icon{
    width: 45px;
    height: 35px;
    background-color:red;
    border-radius:50%;
    display: flex;
    justify-content: center;
    transform: translateY(-35%);
    
    .icons{
        color: white;
        transform: translateY(70%);
        font-size: 15px;
    }
}
.select-item{
    position: relative;
    cursor: pointer;
    width: 100%;
}
.select-icon{
    position: absolute;
    right: 30px;
    top: 5px;
}
.wrapper-c{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr ));
    gap: 20px;
}
.card-c{
    width: 100%;
    height: 100%;
    & img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius:30px;
        border: 1px solid gray;
    }
    & p{
        font-size:20px;
        margin-top: 15px;
    }
    &:hover{
        cursor: pointer;
        & p{
            color:$globalColor;
            font-weight:bold;
        }
    }
}
.ant-pagination-item{
    border-color: black !important;
} 
.ant-pagination-item-active{
    background-color:$globalColor !important;
    color: white !important;
        & a{
            color: white !important;
        }

}
// .active{
//     color: $globalColor;
// }